.git
.gitnexus
.gitignore
.idea
.apboa
.agents
.claude
.codex
.cursor
.qoder
.trae

**/node_modules
**/.pnpm-store
**/dist
**/dist-main
**/dist-doc
**/target

image
logs
docker/data
docker/logs
LICENSE
README.md
